# Virtual env
.venv/

# Pycache directories and .pyc files
**/__pycache__
**/*.pyc

# Functionality testing
test_features.py

# Data files
data/*
temp_data/*

# Plot files
plots/*
savedplots/*
saved_data/*

# Other
notes.txt